[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
teradatasql = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
numpy = "*"
PyAthena = "*"
pyspark = "*"
Faker = "*"
configparser = "*"
boto3 = "*"
[packages]

[requires]
python_version = "3.8"
